@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
